<h1>{{title}}</h1>
<p>Welcome to {{title}} everyone!</p>
<p>Please check your account - New addition</p>
<hr>

<h3>We just added this right now</h3>
<P>{{ loginStatus.loginMessage }}</P>
{{#if loginStatus.is_logged_in }}
   <p><a href="/logout"><strong>Log Out</strong></a></p>
{{/if}}
